body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.emptyHeader{
    flex-grow: 5;
}

.column{
    display: flex;
    flex-grow: 1;
}

.emptyFooter{
    flex-grow: 5;
}

.emptyRow1{
    flex-grow: 2;
}

.emptyRow2{
    flex-grow: 2;
}

.tiles{
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
    background-color: rgb(26, 12, 75);
    color :white;
    padding: 4em 2em;
}

.tile1,.tile2,.tile3,.tile4{
    display: flex;
    flex-direction: column;
    background-color: rgb(1, 1, 36);
    border-radius: 2%

}

.basicInfo{
    display: flex;
    flex-direction: column;
}

.roundImg{
    width: 300px;
    height: 200px; 
    border-radius: 2% 2% 0 0; 
}

.prevoisly{
    padding: 1em 0em;
}

.bgWhite{
    padding: 1em 0em;
    width: 50px;
    height: 50px;
}

.tile4{
    display: flex;
    align-self: center;
    justify-content: center;
    /* border: 1em solid blueviolet; */
}

.container{
    align-self: center;
    padding: 6em;
}